[submodule "lib/indyva"]
	path = lib/indyva
	url = git@github.com:crispamares/indyva.git
[submodule "apicolat/web/js/lib/indyva-js"]
	path = apicolat/web/js/lib/indyva-js
	url = git@github.com:crispamares/indyva-js.git
[submodule "lib/indyva-r"]
	path = lib/indyva-r
	url = git@github.com:crispamares/indyva-r.git
