svg {
/*  shape-rendering: crispEdges; */
}

svg rect {
    fill: white;
    stroke: steelblue;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg .origin rect {
    stroke-width: 3;
}

svg text {
    pointer-events: none;
    fill: darkslategray;
}
svg .origin text {
    fill: black;
}

svg path {
    fill: none;
    stroke-width: 10;
    stroke: steelblue;
}

svg path.selected {
    stroke-width: 16;
    stroke: #5BA9EB;
}