svg {
    shape-rendering: crispEdges;
}
.node {
    stroke: white;
    stroke-width:1px;
}
.node.leaf {
    fill: none;
}
.node.leaf.highlighted {
    fill: black;
    stroke-width: 3px;
    fill-opacity: 0.1;
}
.node.leaf:hover {
    fill: red;
    stroke-width: 3px;
    fill-opacity: 1;
}
